* {
  margin: 0px;
  padding: 0px;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-size: 100%;

}

html{
  width: 100%;
  position: relative;
}

body{
  width: 100%;
  font-family: Lato, sans-serif;
}

.box-center{
  width: 960px;
  margin: 0px auto;
  display: block;
  position: relative;
}

.bx-wrapper {

  .bx-controls{
    margin-top: -60px;
    position: relative;
  }

  .bx-viewport{
    border: none;
    left: 0px;
    @include box-shadow( none );
    background: transparent;
  }


  .bx-pager{

    a{
      background: transparent;

      &.active{
        background-image: none;
      }
    }
  }
}
