<div class="box-logo">
  <div class="logo">
    <img src="assets/images/logo.png" alt="Weather Beer" title="Weather Beer">
  </div>
</div>

<div class="box-content">
  <div class="location">
    <div class="ico-location"></div>
    <p>São Paulo | SP | Brasil</p>
  </div>

  <div class="share">
    <a class="share-btn facebook"></a>
    <a class="share-btn twitter"></a>
    <a class="share-btn google"></a>
  </div>

  <div class="box-conteudo">
    <div class="data">
      <div class="date">
        <div class="ico-date"></div>
        <p>Domingo, 05/07</p>
      </div>

      <div class="ico-temperatura"></div>

      <div class="temperatura">18º</div>
    </div>

    <div class="beer">
      <div class="more"></div>

      <img src="assets/images/icones/large/rain.png"  alt="Weather Beer" title"Weather Beer" />
    </div>

    <div class="temperatura">
      <div class="arrow">
        <div class="up"></div>
        <p class="value">26º</p>
      </div>

      <div class="arrow">
        <div class="down"></div>
        <p class="value">16º</p>
      </div>
    </div>

    <div class="separador">
      <img src="assets/images/separador.png" alt="Separador" title="Separador">
    </div>

    <div class="frase">
      <h1>hoje é um bom dia</h1>
      <h2>PARA UMA AMBER ALE</h2>
    </div>

  </div>

  <div class="box-semana">
    <p>NA SEMANA</p>

    <div class="temperatura">

      <div class="data">
        <p>SEG</p>
        <div class="arrow">
          <div class="up"></div>
          <p class="value">26º</p>
        </div>

        <div class="arrow">
          <div class="down"></div>
          <p class="value">16º</p>
        </div>
      </div>

      <div class="icone">
        <img src="assets/images/icones/rain.png" alt="Weather Beer" title"Weather Beer" />
      </div>

    </div>

  </div>


</div>
