.weather{

  background:  url('../images/bg-left.png') repeat top left;
  position: relative;

  .box-logo{
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100%;

    .logo{
      position: relative;
      display: block;
      margin: 30px auto;
      width: 40%;
      img{
        width: 100%;
        height: auto;
      }

    }
  }

  .box-content{
    background:  url('../images/bg.png') repeat top center /cover, url('../images/bg-right.png') no-repeat top right;

    position: absolute;
    top: 0px;
    right: 0px;
    width: 80%;
    height: 100%;

    .location{
      position: absolute;
      top: 20px;
      left: 20px;


      .ico-location{
        background: url('../images/location.png') no-repeat;
        width: 13px;
        height: 17px;
        display: inline-block;
        vertical-align: top;
        margin: 2px 5px 0 0;
      }

      p{
        color: #ffffff;
        display: inline-block;
        vertical-align: top;
        font-size: 1.1rem
      }

    }

    .share{
      position: absolute;
      bottom: 30px;
      left: 30px;

      .share-btn{

        background: url('../images/share.png') no-repeat;
        width: 46px;
        height: 33px;
        position: relative;
        float: left;
        margin: -1px;
        cursor: pointer;

        &.facebook{
          background-position: 0px -35px;

          &:hover{
            background-position: 0px 0px;
          }
        }

        &.twitter{
          background-position: -45px -35px;
          &:hover{
            background-position: -45px 0px;
          }
        }

        &.google{
          background-position: -90px -35px;
          &:hover{
            background-position: -90px 0px;
          }
        }
      }
    }

    .box-conteudo{
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: auto;
      width: 400px;
      height: 600px;
      overflow: hidden;

    }

  }

}
